@using EntityLayer.Concrete
@model Category


@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container">
    <h1>ADDCATEGORY</h1>
    <br />
<form asp-controller="Category" asp-action="AddCategory">
<input asp-for="CategoryName" placeholder="CategoryName" />
<button class="btn btn-success">ADD</button>
</form>
<div>




