@using EntityLayer.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div class="container">
    <h1>CATEGORIES</h1>
    <br />
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>CATEGORY NAME</td>        
        
    </tr>
    </thead>

    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.CategoryName</td>
        </tr>

    }    
    </tbody>

    
</table>

<a href="/Category/AddCategory" class="btn btn-success">ADD</a>

</div>

