@using EntityLayer.Concrete
@model List<Film>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container">
<h1>MOVIES</h1>
<br />

    <table id="myTable" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>MOVIE NAME</th>
        <th>GENRE</th>
        <th>GO TO THE FILM</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>                
               
                @foreach(var x in item.Categories)
                {
                      @x.Category.CategoryName<text>&nbsp;</text>
                                         
                }
              
                
            </td>
            <td><a href="/FilmAdmin/MovieDetail/@item.ID" class="btn btn-danger">GO</a></td>
        </tr>        

    }
    </tbody>
  
</table>
    <br />

    <a href="/FilmAdmin/AddMovie/" class="btn btn-success">ADD New Movie</a>

</div>