@using EntityLayer.Concrete
@model List<Film>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
<h1>MOVIES</h1>

<br />

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>MOVIE NAME</th>
        <th>GENRE</th>
        <th>GO TO THE FILM</th>

    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>                
               
                @foreach(var x in item.Categories)
                {
                       @x.Category.CategoryName<br />
                                        
                }
                
            </td>
            <td><a href="/FilmAdmin/MovieDetail/@item.ID" class="btn btn-danger">GO</a></td>
        </tr>
        </tbody>

    }

</table>

<a href="/FilmAdmin/AddMovie" class="btn btn-success">ADD</a>
</div>