@using EntityLayer.Concrete
@model List<User>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="container">
	<table class="table" id="myTable">
		<thead>
			<tr>
				<th>USER NAME</th>
				<th>EMAIL</th>
				<th>ROLE ASSIGN</th>
			</tr>
		</thead>


		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>@item.UserName</td>
					<td>@item.Email</td>
					<td><a href="/Role/RoleAssign/@item.Id" class="btn btn-success">RoleAssign</a></td>
				</tr>
			}

		</tbody>


	</table>
</div>
